<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Analgetypen reporting</title>
    <style>
        td {
            width: 150px;
            text-align: center;
        }

    </style>
</head>
<body>

<h1>Anlagetypen reporting</h1>
<h2 th:utext="${title}"></h2>

<br/><br/>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    <tr th:each="anlagetype : ${anlagetypen}">
        <td>
            <b th:text="${anlagetype.id}">...</b>
        </td>
        <td>
            <b th:text="${anlagetype.name}">...</b>
        </td>
    </tr>
</table>

<br/>
<br/>
<a href="/">zurück</a>

</body>
</html>